*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .header{
        width: 100%;
    min-height: 100vh;

    background-size: cover;
    background-position: center;
    position: relative;
    background-image: url("https://wallpaperboat.com/wp-content/uploads/2021/03/15/70990/beige-02.jpg")
    }
    
    nav{
    padding: 30px 3%;
    display: flex;
    align-items: center;
    }
    
    nav ul{
    flex: 1;
    text-align: right;
    }
    
    nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
    }
    
    nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 17px;
    }
    
    .logo{
    width: 32px;
    cursor: pointer;
    }
    
    .menu-icon{
    width: 35px;
    cursor: pointer;
    margin: 0 20px;
    }
    
    .line{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 9;
    width: 2px;
    background: rgba(255,255,255,0.3);
    }
    
    .row{
    width: 75%;
    margin: auto;
    display: flex;

    justify-content: space-between;
    color:black;
    margin-top: 0%;
    }
    .row span img{
    width: 15px;
    margin-right: 15px;
    }
    
    .content span{
    font-size: 22px;
    }
    
    .content h1{
    font-size: 30px;
    margin-top: auto;
    margin-bottom: 20px;
  top: auto;
  text-align:start;
  align-items: start;
    }
 

  .tim{
 width: 220px;
    height: 270px;
    float: right;
    
    margin-right: auto;
right: 40px;;

  }  

    
    




    
.hh{
    top: auto;
    text-align: start;
    align-items: start;
    
}